*.class
*.jar
*.war
*.ear

# IDE files #
#############
*.iml
.idea/
target/

# OS files #
############
.DS_Store
.DS_Store?

# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
/out/production/resources/templates/
/gradlew
/gradlew.bat
